@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MBSTU CSE DEPT.</h1>
    <p class="lead">It's a simple website which is build in Entity framework code first procedure. Here we use IDENTITY framewrok for everypage security for user and ADMIN</p>
    <p class="lead">
        Admin information<br/>
        admin@gmail.com
        <br/>
        password: Asif.01@gmail
    </p>
</div>

